/*================= Universal Styles =================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.emph {
    background: linear-gradient(to top, purple, PaleGoldenRod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    cursor: pointer;
}

/*==================== Nav Styles ====================*/
nav {
    height: 5rem;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 82em;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/*==================== Landing Page Styles ====================*/
ul {
    display: flex;
}

li {
    list-style-type: none;
}

.logo {
    width: 12em;
    padding-top: 0.43em;
}

.nav__link {
    margin-left: 1em;
    text-decoration: none;
    font-size: 1.25em;
    color: #6030b1;
}

.nav__link {
    margin-left: 1em;
    text-decoration: none;
    font-size: 1.25em;
    color: #6030b1;
    font-weight: bold;
    padding: 0.5em;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 0.125em solid #6030b1;
    border-radius: .25em;
}

#landing {
    background-color:  rgba(115, 66, 214, 0.1);
  }

header {
    height: calc(100vh - 5em);
}

.header__container {
    padding-top: 2em;
    width: 100%;
    max-width: 45em;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    padding: 1.25em;
}

h1 {
    font-size: 3.5rem;
    color: #6030b1;
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(0.063em);
}

.btn {
    background-color: #6030b1;
    color: white;
    padding: 0.065em 0.29em;
    font-size: 1.5em;
    border-radius: 0.25em;
    border: none;
}

.myPurple {
    color: #6030b1;
}

/* Landing Page Image Styles */
.sea {
    width: 100vw;
    height: 41.889em;
    max-height: 100vh;

    /* Positions image behind .main image on landing page. */
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    left: -35em;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

/* We want all images to be 100% of their parent (REMEMBER that...however, I am experimenting). */
.main {
    width: 50%;

    /* Makes this a lot smaller (suitable for laptops). */
    height: 100%;
    max-height: 12.75vh;

    /* Position image on top of .sea image. */
    position: absolute;
    bottom: 0;
    right: 27em;
	z-index: ±2147483647999;
}

/* Thought Bubble */
.thought-bubble {
    width: 88%;

    /* Makes this a lot smaller (suitable for laptops). */
    height: 100%;
    max-height: 17vh;

    /* Position image on top of .sea image. */
    position: absolute;
    bottom: 6.875em;
    left: 14.175em;
	z-index: ±2147483647987;
}

.reading {
    z-index: ±21474836479999;
    font-weight: 900 !important;
    
    /* Position image on top of .sea image. */
    position: absolute;
    bottom: 13.275em;
    right: 35.9em;
	z-index: ±2147483647995;
}

/* AWESOME ANIMATION: Make the plane fly. Ref. https://cargo2support.cargo.site/Make-an-Image-Fly-Across-the-Screen Adjusting this to my specifics was farely easy to understand; but it took a few minutes to get it right, consider the images I chose to use. */
.sw {
	pointer-events: none;
}

.sw > * {
/* Adjust animation duration to change the element’s speed */
    animation: sw__take-off 29s 1;
    transform: translateX(-5%) translateY(-120%) rotateZ(0);
    pointer-events: none !important;
	top: 0;
	left: 0;
	position: fixed;
	z-index: ±2147483647997;
}

@keyframes sw__take-off {

	98.001%, 0% {
        display: block;
        transform: translateX(-99%) translateY(50vh) rotateZ(0deg);
    }

    to

    15% {
        transform: translateX(100vw) translateY(50%) rotateZ(0deg);
    }

    15.001% {
        transform: translateX(1000vw) translateY(100%) rotateZ(0deg)
    }
}

.delta {
	pointer-events: none;
}

.delta > * {
/* Adjust animation duration to change the element’s speed */
    animation: delta__take-off 32s, 1s;
    animation-iteration-count: 1;
    pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-5%) translateY(-120%) rotateZ(0);
	position: fixed;
	z-index: ±2147483647997;
}

@keyframes delta__take-off {

	from

    98.001%, 0% {
        display: block;
        transform: translateX(-99%) translateY(50vh) rotateZ(0deg);
    }

    to

    15% {
        transform: translateX(100vw) translateY(50%) rotateZ(0deg);
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(100%) rotateZ(0deg)
    }
}

.hit {
	pointer-events: none;
}

.hit > * {
/* Adjust animation duration to change the element’s speed */
    animation: delta__take-off 32s, 1s;
    animation-iteration-count: 1;
    pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-5%) translateY(-120%) rotateZ(0);
	position: fixed;
	z-index: ±2147483647997;
}

@keyframes hit__going--down {

	from

    98.001%, 0% {
        display: block;
        transform: translateX(-99%) translateY(50vh) rotateZ(0deg);
    }

    to

    15% {
        transform: translateX(100vw) translateY(50%) rotateZ(0deg);
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(100%) rotateZ(0deg)
    }
}

.UFO {
	pointer-events: none;
}

.UFO > * {
/* Adjust animation duration to change the element’s speed */
    animation: UFO__appears--and-evades 32s, 1s;
    animation-iteration-count: 1;
    pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-5%) translateY(-120%) rotateZ(0);
	position: fixed;
	z-index: ±2147483647997;
}

@keyframes UFO__appears--and-evades {

	from

    98.001%, 0% {
        display: block;
        transform: translateX(-99%) translateY(50vh) rotateZ(0deg);
    }

    to

    15% {
        transform: translateX(100vw) translateY(50%) rotateZ(0deg);
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(100%) rotateZ(0deg)
    }
}

.af {
    pointer-events: none;
}

.af > * {
/* Adjust animation duration to change the element’s speed */
    animation: af_rescues 32s, 1s;
    animation-iteration-count: 1;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-5%) translateY(-120%) rotateZ(0);
    position: fixed;
    z-index: ±2147483647997;
}

@keyframes af_rescues {

	from

    98.001%, 0% {
        display: block;
        transform: translateX(-99%) translateY(50vh) rotateZ(0deg);
    }

    to

    15% {
        transform: translateX(100vw) translateY(50%) rotateZ(0deg);
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(100%) rotateZ(0deg)
    }
}

.UFO__lands {
	pointer-events: none;
}

.UFO__lands > * {
/* Adjust animation duration to change the element’s speed */
    animation: delta__take-off 32s, 1s;
    animation-iteration-count: 1;
    pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-5%) translateY(-120%) rotateZ(0);
	position: fixed;
	z-index: ±2147483647997;
}

@keyframes UFO__lands--on--Space-Needle {

	from

    98.001%, 0% {
        display: block;
        transform: translateX(-99%) translateY(50vh) rotateZ(0deg);
    }

    to

    15% {
        transform: translateX(100vw) translateY(50%) rotateZ(0deg);
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(100%) rotateZ(0deg)
    }
}

.cobra {
	pointer-events: none;
}

.cobra > * {
/* Adjust animation duration to change the element’s speed */
    animation: cobra--searches 32s, 1s;
    animation-iteration-count: 1;
    pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-5%) translateY(-120%) rotateZ(0);
	position: fixed;
	z-index: ±2147483647997;
}

@keyframes cobra--searches {

    from

    98.001%, 0% {
        display: block;
        transform: translateX(-99%) translateY(50vh) rotateZ(0deg);
    }

    to

    15% {
        transform: translateX(100vw) translateY(50%) rotateZ(0deg);
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(100%) rotateZ(0deg)
    }
}